<?xml version="1.0"?>
<configuration>
  
	<connectionStrings/>
  
	<system.web>
		<httpHandlers>
			<add verb="*" path="*.np" validate="false" type="NPortugol.Web.NPHttpHandler, NPortugol.Web, Version=1.0.0.0, Culture=neutral"/>
		</httpHandlers>
		<compilation debug="true"/>
  </system.web>
  
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="NPortugolHandler" verb="*" path="*.np" type="NPortugol.Web.NPHttpHandler, NPortugol.Web, Version=1.0.0.0, Culture=neutral"/>
		</handlers>
	</system.webServer>
  
</configuration>
